<header>
    <div class="header-flex">
    <a href="/"><img src="https://http2.mlstatic.com/D_NQ_NP_758613-MLA47047446747_082021-W.jpg" alt="" class="logo"></a>
    <a href="/usuarios/login" class='btn btn-secondary btn-lg my-3 ingresar'>Login</a>
    <a href="/usuarios/register" class="btn btn-secondary btn-lg my-3 crear-cuenta">Creá tu cuenta</a>
    <div class="lupa-barra">
      <!-- <i class="far fa-user-circle user"></i> -->
        <!-- <input type="text" placeholder="Buscar..." class="buscador"> -->
        <button class="lupa"><i class="fas fa-search"></i></button>
        
    </div>
    <a class="btn p-1 btn-light" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
      <i class="fas fa-bars hamburguesa"></i>
      </a>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Productos</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <a href="/productos/remera"><p>REMERAS</p></a><br>
            <a href="/productos/buzo"><p>BUZOS</p></a><br>
            <a href="/productos/pantalon"><p>PANTALONES</p></a><br>
            <a href="/productos/camisa"><p>CAMISAS</p></a><br>
            <a href="/productos/malla"><p>TRAJES DE BAÑO</p></a><br>
            <a href="/productos/medias"><p>MEDIAS</p></a><br>
            <a href="/productos/gorra"><p>GORRAS</p></a><br>
            <a href="/productos/campera"><p>CAMPERAS</p></a><br>
            <a href="/productos/bermuda"><p>BERMUDAS</p></a><br>
            <a href="/productos/accesorio"><p>ACCESORIOS</p></a><br>
            <br>
            <br>
            <br>
            <a href="/administrador/agregarProducto">Agregar producto</a><br>
        </div>
      </div>
    <a href="/productos/carrito"><i class="fas fa-shopping-cart carrito"></i></a>
    </div>
    <!-- <nav>
        <ul class="ul-derecha" type="none">
       <li><a href="/usuarios/register" class="crear-cuenta"> Crea tu cuenta</a></li>  
       <li> <a href="/usuarios/login" class="ingresa">Ingresá</a> </li>  
       <li><a href="#" class="mis-compras">Mis compras</a></li>  
         
        </ul>
    </nav> -->
   <div class="aviso-cuotas"> <p class="seis-cuotas">6 y 12 CUOTAS SIN INTERÉS</p> </div>
</header>