<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>PARÍS INDUMENTARIA</title>
    <body>
        <%- include('./partials/header.ejs') %>
        <a href="https://api.whatsapp.com/send?phone=5491130541998&text=Hola!" target="_BLANK" class="appWhatsapp">
            <img src="./img/icono-whatsapp.png" alt="Whatsapp">
        <main class="main-home">
                <a href="/productos/oferta" class="home-oferta">
                    <section class="section-home oferta"> 
                        <span>OFERTAS</span></section></a>
                <a href="/productos/remera " class="home-remera">
                    <section class="section-home remera"> 
                        <b class="descuento-section">HASTA 20% OFF</b> 
                        <span>REMERAS</span>
                    </section>
                </a>
                <a href="/productos/buzo" class="home-buzos">
                    <section class="section-home buzos">
                        <span>BUZOS</span>
                    </section>
                </a>
                <a href="/productos/pantalon" class="home-pantalones">
                    <section class="section-home pantalones">
                        <span>PANTALONES</span>
                    </section>
                </a>
                <a href="/productos/camisa" class="home-camisas">
                    <section class="section-home camisas">
                        <span>CAMISAS</span>
                    </section>
                </a>
                <a href="/productos/malla" class="home-traje-baño">
                    <section class="section-home traje-baño">
                        <b class="descuento-section">HASTA 30% OFF</b>
                        <span>TRAJES DE BAÑO</span>
                    </section>
                </a>
                <a href="/productos/medias" class="home-medias">
                    <section class="section-home medias">
                        <span>MEDIAS</span>
                    </section>
                </a>
                <a href="/productos/gorra" class="home-gorras">
                    <section class="section-home gorras">
                        <span>GORRAS</span>
                    </section>
                </a>
                <a href="/productos/campera" class="home-camperas">
                    <section class="section-home camperas">
                        <b class="descuento-section">HASTA 25% OFF</b>
                        <span>CAMPERAS</span>
                    </section>
                </a>
                <a href="/productos/bermuda" class="home-bermudas">
                    <section class="section-home bermudas">
                        <span>BERMUDAS</span>
                    </section>
                </a>
                <a href="/productos/accesorio" class="home-accesorios">
                        <section class="section-home accesorios">
                            <span>ACCESORIOS</span>
                        </section>
                </a>
                <section class="contenedor-mercado-pago">
                    <div class="medios-de-pago">
                        <span class="texto-mp"> 
                            <img src="https://www.baenegocios.com/__export/1603891577880/sites/cronica/img/2020/10/28/kit-cartel-sticker-calco-mercado-pago-point-qr-tarjetas-ofic-d_q_np_892404-mla41363021042_042020-f.webp_675828847.webp" alt="logo mercado pago" class="imagen-mp" width="100px " height="100px" >
                            <strong>Abona tus compra a través de MERCADOPAGO<i class="far fa-credit-card"></i>
                                <i class="fas fa-comment-dollar"></i>
                                <i class="far fa-money-bill-alt"></i>
                            </strong>
                        </span>
                    </div>
                </section>
                <br>
        </main>
        <%- include('./partials/footer.ejs') %>
        <script type="text/javascript" src="../jquey/jquery-3.6.0.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
                    <!-- <a href="/productos/sudadera" class="home-sudaderas"><section class="section-home sudaderas"><span>SUDADERAS</span></section></a> -->