<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="main-login">
        <div class="fondo-login">
            <h2 class="titulo-login">Ingresar</h2>
            <form action="/home" method="GET" class="form-login">

            <div class="login-facebook"><a href="#"></a><i class="fab fa-facebook-square"></i>
                 <label for="login-facebook">
                     Facebook Login
                    </label></a>
                </div>
                <br>
                <hr>    
                <br>
                <label for="usuario" class="label-login">Nombre de usuario</label>
                <br><input class="input-login" type="text" name="usuario" placeholder="Usuario"><br>
            
                <label for="contraseña" class="label-login">Contraseña</label>
                <br><input class="input-login" type="password" name="contraseña" placeholder="Contraseña"><br>
            
                <a href="#" class="olvidar-contraseña">¿Olvidaste tu contraseña?</a><br>
                <button type="submit" class="ingresar-boton">Ingresar</button>
        
                <p class="registrarse-texto">¿No tenés cuenta? ¡Registrate!</p><a href="/register" class="enlace-registrarse"><div class="registrarse-boton">Registrarse</div></a>
            </form>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>