<html>
    <head>
    <%- include('./partials/head') %> 
    <title>404 NOT FOUND</title>
</head>
    <%- include('./partials/header') %> 
    
    <body>
        <main class="main-not-found">
        <h1>ERROR 404 NOT FOUND</h1>
        <p>No se encontró resultado de su búsqueda</p>
    </main>
    </body>
    <%- include('./partials/footer') %> 
</html>