<html>
    <head>
    <%- include('./partials/head') %> 
    <title>404 NOT FOUND</title>
</head>
    <%- include('./partials/header') %> 
    
    <body>
        <main class="main-not-found">
        <h2>PÁGINA NO ENCONTRADA</h2>
        <p>No se encontró resultado de su búsqueda</p>
        <button class = "boton-volver"><a href="/">VOLVER</a></button>
    </main>
    </body>
    <%- include('./partials/footer') %> 
</html>