<!DOCTYPE html>
<html lang="en">
     <%- include('./partials/head.ejs') %>
        <title>Remeras</title>

 <body>
    <%- include('./partials/header.ejs') %> 
    <h1>Remeras</h1>  

    <main class="main-product">
        <section class="section-product">

            <article class="article-product">
             <img src="/img/products/products-default.png" alt="Imagen">
                <h4>Titulo</h4>
                <p>Precio</p>
                <p>Descuento</p>
            </article>
            <article class="article-product">
             <img src="/img/products/products-default.png" alt="Imagen">
                <h4>Titulo</h4>
                <p>Precio</p>
                <p>Descuento</p>
            </article>
            <article class="article-product">
             <img src="/img/products/products-default.png" alt="Imagen">
                <h4>Titulo</h4>
                <p>Precio</p>
                <p>Descuento</p>
            </article>
            <article class="article-product">
             <img src="/img/products/products-default.png" alt="Imagen">
                <h4>Titulo</h4>
                <p>Precio</p>
                <p>Descuento</p>
            </article>

        </section>
     
    </main>



    <%- include('./partials/footer.ejs') %> 
 </body>
</html>