<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>Carrito de compras</title>
<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <div>
            Hola <%= user.firstName %> 
        </div>
    </main>
    <%- include('./partials/footer.ejs') %> 
    <script type="text/javascript" src="../jquey/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>