<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>Registrarse</title>
 <body>
    
    <%- include('./partials/header.ejs') %>
    <main id="main-register">
        <h2 class="form-titulo">Completá tus datos</h2>
        <div class="container-form">
            <form action="/usuarios/register" method="POST" class="form-control">
            
                <div class="form-nombre">
                    <label for="name">Nombre y Apellido</label> <br>
                    <input class="ingresar-texto" type="text" name="name" placeholder="Nombre y apellido" required>
                </div>
                <div class="form-dni">
                    <label for="dni">DNI</label><br>
                    <input class="ingresar-texto" type="number" name="dni" placeholder="DNI" required>
                </div>
                <div class="form-nacimiento">
                    <label for="nacimiento">Fecha de nacimiento</label><br>
                    <input class="ingresar-texto" type="date" name="nacimiento" required>
                </div>
                <div class="form-email">
                    <label for="email" name="email">Email</label><br>
                    <input class="ingresar-texto" type="email" name="email" placeholder="Correo electrónico" required>
                </div>
            
                <div class="form-contraseña">
                    <label for="contraseña">Creá tu constraseña</label><br>
                    <input class="ingresar-texto" type="password" name="contraseña" required>
                </div>
                <div class="form-confirm-contraseña">
                    <label for="c-contraseña" name="c-contraseña">Confirmá tu contraseña</label><br>
                    <input class="ingresar-texto" type="password" name="c-contraseña" required>
                </div>

                <button type="submit" class="boton-enviar">Enviar</button>
                <button type="reset" class="boton-borrar">Borrar</button>
            </form>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>