*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}

body{
    min-width: 375px;
}
header{
    background-color: #ffffff;
    height: 96px;
    text-align: center;
    width: 100%;
    height: 20%;
}

.offcanvas-start {
    width: 250px !important;
}

.carousel-indicators{
    display: none;
}
.carrusel{
    display: none;
}

.foto-carrusel{
    display: none;
}

.titulos-section{
    color: #000000;
}
.fa-search{
    padding:0;
    font-size: 20px;
    background-color: #fff;
}

.lupa {
    border:none;
    font-size: 16px;
}

.buscador{
    width: 100%;
    border:none;
    border-radius: 5px 0 0 5px;
    padding-left: 5px;
}

.buscador:focus{
    outline:none;
}

.inputBuscador{
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 15px;
    padding-left: 8px;
    width: 50%;
}

.lupa-barra{
    display: flex;
    width: 60%;
    justify-content: flex-end;
}

.carrito{
    border: none;
    font-size: larger;
    color: #000;
    margin-right: 10px;
}

.perfil{
    border: none;
    color: #000;
    margin: 0 10px 0 15px;
    width: 50px;
}

.carrito:hover{
    -webkit-animation: movimiento 0.2s linear infinite alternate;
            animation: movimiento 0.2s linear infinite alternate;
}
@-webkit-keyframes movimiento {
    0%{
        transform: rotateZ(25deg);
    }
    100%{
        transform: rotateZ(-25deg);
    }
}
@keyframes movimiento {
    0%{
        transform: rotateZ(25deg);
    }
    100%{
        transform: rotateZ(-25deg);
    }
}
.user{
    font-size: 30px;
    margin-left: 20px;
    color: #000;
    transition: all 0.4s;
    text-align: center;
    
}

p{
    margin-top: 20px;
}

.agregarProducto{
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.offcanvas{
    overflow: scroll;
}

.user:hover{
    transform:scale(110%);
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px 2px 15px;
}

.seis-cuotas {
    text-align: center;
    height: 50px;
    line-height: 50px;
     font-family: 'Righteous', cursive;
     font-size: 20px;
     color:white;
     background-color: #4770ad;
     margin-top: 10px;
 }

.btn-lg{
    display: none;
}

.hamburguesa:active .menu-desplegable{
    left: 35%;
    text-align: left;
}

.fa-times{
    position:absolute;
    top: 15px;
    left: 55%;
    font-size: 25px;
}

.hamburguesa{
    color: #000;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.logo{
    color:white;
    width: 50px;
    height: 50px; 
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
}

.aviso-cuotas{
    z-index: 10;
}



nav{
    display:none;
}

main{
    text-align: center;
}


.section-home {
    height: 150px;
    width: 99%;
    border: 1px solid #888;
    margin: 30px auto;
    line-height: 150px;
    font-size: 25px;
    color:black;
    font-style: none;
    font-weight:bold;
    position: relative;
    transition: all .3s;
}

.appWhatsapp{
    position:fixed;
    right: 26px;
    bottom: 100px;
    width: 60px;
    z-index: 9000;
}

.appWhatsapp img{
    width: 100%;
    height: auto;
}

a{
    color: black;
}

.article-product h6 span{
    text-decoration: line-through 1.5px red;
}


.descuento-section{
    position: absolute;
    color: #0f0;
    font-size: 20px;
    right: 30px;
    top: -45px;
    -webkit-animation: descuento .3s infinite linear alternate; 
    animation: descuento .3s infinite linear alternate;
}
.section-home:hover{
    /* box-shadow: 0 0 15px 15px #666; */
   box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.65);
    transform: scale(105%);
    z-index: 1000;
    -webkit-animation: movimientoOfertas 30s infinite linear alternate;
            animation: movimientoOfertas 30s infinite linear alternate;
}


.section-home span{
    padding: 8px;
    color:black;
    background-color: white;
    font-family: 'Zen Antique Soft', serif;
    letter-spacing: 0.2rem;
    transition: all .3s;
}

.section-home:hover span{
    font-size: 35px;
    
}

.oferta{
    background-image: url(https://us.123rf.com/450wm/maxborovkov/maxborovkov1603/maxborovkov160300080/53629759-fiesta-de-fondo-negro-con-confeti-de-color-ilustraci%C3%B3n-del-vector-.jpg?ver=6);
    background-position: center;
    -webkit-animation: movimientoOfertas 30s infinite linear alternate;
            animation: movimientoOfertas 30s infinite linear alternate;
}

@-webkit-keyframes movimientoOfertas {
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: 2000px 1000px;
    }
}

@keyframes movimientoOfertas {
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: 2000px 1000px;
    }
}


.oferta span{
    background-color: #000;
    color: #ffffff;
    -webkit-animation: aumentar .3s infinite linear alternate;
            animation: aumentar .3s infinite linear alternate; 
    font-weight: lighter;
}


.remera{
    background-image: url(https://media.discordapp.net/attachments/878420009041395797/890270794662432818/HD-wallpaper-oriental-pattern-black-abstract.png?width=739&height=657);
    background-size: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.remera span{
    background-color: #fff;
}

.buzos{
    background-image: url(https://cdn.discordapp.com/attachments/878420009041395797/890270392189591632/images.png);
}

.buzos span{
    background-color: #bf1313;
}

.pantalones{
    background-image: url(https://m.media-amazon.com/images/I/A1Pg3TE5ylL._AC_SX450_.jpg);
}

.pantalones span {
    background-color: #000;
    color: #fff;
    font-weight:lighter;
}

.camisas{
    background-image: url(https://d2r9epyceweg5n.cloudfront.net/stores/188/770/rte/banner-medias.jpg);
}

.camisas span{
    background-color: #bf1313;
}

.traje-baño{
    background-image: url(https://d2r9epyceweg5n.cloudfront.net/stores/188/770/rte/banner-bermudas1.jpg);
}

.traje-baño span{
    background-color: #000;
    color:#bf1313
}

.medias{
    background-image: url(https://d2r9epyceweg5n.cloudfront.net/stores/188/770/rte/banner-accesorios.jpg);
}

.medias span{
    background-color: #fff;
}

.gorras {
    background-image: url(https://d2r9epyceweg5n.cloudfront.net/stores/188/770/rte/banner-gorras.jpg);
}

.gorras span {
    background-color: #bf1313;
    color: black;
}

.camperas{
    background-image: url(https://fondosmil.com/th/31112.jpg);
    background-size: cover;
}

.camperas span {
    background-color: #fff;
}

.bermudas{
    background-image: url(https://media.istockphoto.com/photos/particle-dark-backgrounds-picture-id1072907026?b=1&k=6&m=1072907026&s=170667a&w=0&h=V_vm8OYN24cF0yg6AR59hKi1lIw-HIKPgK5IozYmN2Q=);
    background-size: cover;
}

.bermudas span{
    background-color: black;
    color: #bf1313;
}

.sudaderas{
background-image: url(https://fondosmil.com/fondo/13230.png);
background-size: contain;
}


.sudaderas span{
    background-color: #fff;
    color: #000;
    
}

.accesorios{
    background-image: url(https://fondosmil.com/fondo/14382.jpg);
    background-size: cover;
}

.accesorios span{
    background-color: #bf1313;
    color:black;
}

a{
    text-decoration: none;
}


.medios-de-pago{
    background-color: whitesmoke;
    border: 1px solid gray;
    width: 90%;
    margin: 0 auto;
    bottom: 10px;
    text-align: center;
}

.link-footer{
    color: white;
}

.link-footer:hover{
    cursor: pointer;
}

.imagen-mp{
    width: 50px;
    height: 60px;
    vertical-align: middle;
    display: inline-block;
    line-height: 75px;
   
}
.texto-mp{
    padding-top: -20px;
    
}

div span strong{
    display: inline-block;
    text-align: center;
}

footer{
    background: black;
    width: 100%;
    color: white;
}
.contenedor-principal-footer{
    padding: 15px 15px 20px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-footer{
    display: inline-block;
}
.columna1{
    max-width: 400px;
}

.mapa-footer{
    width: 80%;
    height: 280px;
}

.columna1 h1{
    font-size: 24px;
}
.columna1 p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: justify;
}

.columna2{
    max-width: 400px;
    margin-bottom: 30px;

}
.columna2 h1{
    font-size: 24px;
}
.columna2 .filas{
    text-align: left;
    margin-top: 20px;
    margin-left: 20%;
    
    
}
.filas img{
    width: 35px;
    height: 35px;
}
.filas label{
    margin-top: -10px ;
    margin-left: 10px;
    
}
.columna3{
    max-width: 400px;
margin-bottom: 40px;
}
.columna3 h1{
    font-size: 24px;
}


.filas2{
    margin-top: 20px;
}

.contenedor-copyright{
    max-width: 100%;
}

.politicas {
    margin-top: 15px;
}

.politicas a{
    margin-left: 20px;
}

.politicas a:link{
    color:white;
}

.politicas a:visited{
    color:white
}

textarea{
    resize: none;
}

/* ------------------------------- */
/* Acá empieza el css del register */
/* ------------------------------- */

.container-form{
    padding: 35px 0px;
    text-align: center;
}
.form-titulo{
    /* margin: 20px; */
    background-color: rgba(200,200,200, 0.5);
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.ingresar-texto{
    width: 70%;
    max-width: 300px;
    height: 35px;
    margin: 20px 0px 20px 0;
    border-radius: 5px;
    border:1px solid #999;
    padding-left: 12px;
}

.ingresar-texto:focus{
    outline: none;
}

label{
    font-weight: bold;
}

.tipeOfUser{
    display: none;
}

.text-danger{
    color: #bf1313;
    margin-bottom: 20px;
    margin-top: -20px;
    
}

.boton-enviar{
    background-color: #eee;
    border: none;
    color: black;
    padding: 7px;
    width: 80px;
    font-weight: bold;
    margin-right:25px;
    margin-top: 15px;
    box-shadow: 5px 5px 15px 0 #555;
}

.boton-enviar:active{
    background-color: #888;
}

.boton-borrar{
    background-color: #eee;
    border: none;
    color: black;
    font-weight: bold;
    width:80px;
    padding: 7px;
    margin-left:25px;
    margin-top: 15px;
    box-shadow: 5px 5px 15px 0 #555;
}

.boton-borrar:active{
    background-color: #555;
}

.boton-borrar:hover{
    box-shadow: 5px 5px 12px #222;
}

.boton-enviar:hover{
    box-shadow: 5px 5px 12px #222;
}

#main-register{
    
    background-color: #fff;
}

.boton-enviar:hover{
    cursor: pointer;
}

.boton-borrar:hover{
    cursor: pointer;
}

.input-image{
    margin:20px
}


/* -----------------------------------------
Aca empieza el css del detalle de producto 
--------------------------------------------*/
.detalle-producto{
    background-color: white;
}

.contenedor-garantia-stock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 20%;
    border-top: 1px solid gray;
    
}

.contenedor-garantia-stock p {
    padding-top: 10px;
    line-height: 10px;
}

.iconos-producto{
    margin-right: 13px;
    color: #080;
    font-size: 20px;
}

.button-comprar, .button-agregar-carrito{
    width: 35%;
    padding: 10px;
    margin: 10px;
    font-weight: bold ;
}

.button-modificar{
    width: 35%;
    padding: 10px;
    margin: 10px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #999;
}

.button-modificar:hover{
    background-color: #bbb;
    color: #000;
}

.button-comprar{
background-color: #3483fa; 
color: white;   
border-radius: 5px;
border: none;
-webkit-animation: aumentar .5s infinite linear alternate;
        animation: aumentar .5s infinite linear alternate;
}
.button-agregar-carrito{
background-color: #ddd;
color:#3483fa;
border-radius: 5px;
border: none;
}


.titulo-producto{
    color: #555;
    margin-bottom: 2%;
}

.imagen-producto{
    padding-top: 25px;
    width: 70%;
}

.div-cantidad-producto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    border-bottom: 1px solid gray;
    padding-bottom: 5%;
}

.cantidad-productos-detalle{
    font-size: 25px;
    width: 47px;
    margin-right: 15px;
    text-align: center;
    border: 2px solid #aaa
}

.cantidad-productos-detalle:focus{
    outline: none;
}

.sumar-restar-producto-menos {
    margin-right: 8px;
    margin-left: 8px;
    width: 34px;
    height: 34px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #aaa
}

.sumar-restar-producto-mas{
    margin-right: 8px;
    margin-left: 8px;
    width: 34px;
    height: 34px;
    font-size: 22px;
    font-weight: bold;
    background-color: #3483fa;
    border:none;
    border-radius: 5px;
}

.titulo-talles{
    padding-top: 15px
}

.caracteristicas-producto{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}

.caracteristicas-producto p {
    padding: 5px 5px ;
    border: 1px solid #ccc
}

.caracteristicas-producto p:hover{
    cursor: pointer;
}

.consultas-producto{
    margin: 25px 0 25px 0;
    padding: 10px;
}

.p-consultas{
    margin-bottom: 16px;
    font-size: 22px;
}

.label-email-consulta{
    font-family: 'Roboto', sans-serif;
}

.input-email-consulta{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 70%;
    padding: 2px 5px 2px 5px;
}

.textarea-consultas{
    width: 70%;
    padding-left: 16px;
    padding-top: 8px;
}

.consultas-producto button {
    padding: 5px;
    width: 70%;
    margin-top: 8px;
    background-color: #3483fa;
    color:white;
    font-weight: bold;
    border:none;
    border-radius: 5px;
}

@-webkit-keyframes aumentar {
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(107%);
    }
}

@keyframes aumentar {
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(107%);
    }
}

@-webkit-keyframes descuento {
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(115%);
    }
}

@keyframes descuento {
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(115%);
    }
}

/*-----------------------------------
 CSS carrito 
 ------------------------------------*/


.contenedor-carrito{
    background-color: rgba(255,255,255,0.3);
    padding: 15px;
    margin: 15px 15px 0 15px;
    margin: 0 auto;
    
}
.carrito-titulo{
    color: black;
    padding: 15px;
    text-align: left;
}
.cupon-boton{
    background-color: rgb(22, 140, 219);
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 10px;
    
}
.cupon-boton:hover{
    box-shadow: 0px 0px 15px 0 #666;
}
.fila-principal{
border: 1px solid #ccc;
}
.input-producto{  
    width: 35px;
} 

.nombre-producto, .precio-producto, .cantidad-producto{
    padding: 5px;
    width: 33%;
    color: black;
}

.boton-sumar{
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 40%;
}
.boton-restar {
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 40%;
}

.h2-precio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotito-carrito{
    display: none;
}

.signo-numero{
    display: flex;
}

.div-precio-total{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.div-precio-total p {
    font-size: 22px;
    font-weight: bold;
}

.cupon{
    
    padding: 15px; 
    margin: 0 15px;
}
.cupon-input{
    margin: 15px;
    padding: 2px;
}
.cupon-input:focus{
outline: none;
}

/*------------------------------ 
Aca empieza el CSS del login 
--------------------------------*/

.main-login{
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.fondo-login{
    background-color: rgba(255,255,255,0.5);
}
.titulo-login{
    margin: 10px 0 25px 0
}

.form-login{
    width: 70%;
    margin: 0 auto;
    padding:1px;
}



.input-login{
    margin-top:10px;
    margin-bottom:20px;
    padding:8px;
    border: 2px solid #888;
    border-radius: 5px;
    width: 90%;
}

.input-login:focus{
    outline: none;
}

.olvidar-contraseña{
    font-size: 70%;
}

.registrarse-texto{
    font-size: 16px;
    margin: 20px 0 5px 0;
}

.ingresar-boton{
    margin-top:15px;
    padding: 8px;
    color:white;
    font-weight: bold;
    background-color:black;
    border-radius: 8px;
    border:none
}

.registrarse-boton{
    text-align: center;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    margin: 8px auto;
    color:white;
    font-weight: bold;
    padding:4px
}

.enlace-registrarse{
    
    text-decoration: none;
}

.login-facebook{
    padding: 10px;
    background-color: #3b5998;
    margin-bottom: 10px;
    max-width: 450px;
    margin: 0 auto;

}
.button-facebook{
    color: white;
}
.fa-facebook-square{
    color: white;
    font-size: 20px;
}
.login-facebook label{
    color: white;
}

/* --------------------------------------------- */
/* ACÁ EMPIEZA EL CSS DEL ADMIN AGREGAR PRODUCTO */
/* --------------------------------------------- */

.descripcion-producto{
    margin: 15px;
    padding: 10px;
}

.agregar-submit{
    padding: 12px;
    background-color: #3483fa;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 5px 5px 8px 0 #aaa;
}

.agregar-submit:hover{
    box-shadow: 5px 5px 8px 0 #666;
    cursor: pointer;
}
.file-select {
    position: relative;
    display: inline-block;
  }
  
  .file-select::before {
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
  }
  

/* ---------------------------------------- */
/* ACÁ EMPIEZA EL CSS DE MODIFICAR PRODUCTO */
/* ---------------------------------------- */


.editar-talles{
    display: flex;
    width: 50%;
    margin:0 auto;
    justify-content: space-between;
    padding: 15px 25px;
    margin-bottom: 45px;
}

.editar-talles p {
    padding: 5px 5px ;
    border: 1px solid #ccc;
    
}

.modificar-contain{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
}

.edit-img-icon{
    position: absolute;
    top: 5%;
    font-size: 24px;
    /* right: 35%; */
    color: #999;
}

.edit-name-icon{
    margin-left: 20px;
    color: #999;
}

.eliminar-button{
    margin-bottom: 30px;
    padding: 10px;
    background-color: rgba(211, 20, 20, 0.979);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 75%;
}

.fa-times-circle{
    margin-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: all 700ms
}

.eliminar-button:hover .fa-times-circle{
    transform:rotateZ(350deg);
    }

.modificar-button{
    margin-bottom: 30px;
    padding: 10px;
    background-color: rgba(34, 206, 4, 0.979);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 75%;
    
}


.eliminar-button:hover{
    cursor: pointer;
}

.modificar-button:hover{
    cursor: pointer;
}

.fa-check-square{
    margin-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: all 700ms;
}

.modificar-button:hover .fa-check-square{
transform:rotateZ(15deg);
}

.detalle-producto-edit .imagen-producto{
    width: 40%
}

.main-modificar input{
    margin: 25px 5px 25px 5px;
}

/* =============== */
/* CSS de productSelect */
/* ================= */

.main-product{
    max-width: 100%;
}

.article-product{
    border: 1px solid #ccc;
    width: 99%;
    margin-top: 15px;
   position: relative;

}
.article-product img{
    width: 100%;
    height: 622px;
    object-fit:cover
}
.article-product h5{
    color: #000;
}
.article-product .descuento{
    color: #fff;
    font-size: 25px;
    position: relative;
    width: 135px;
    bottom: 690px;
    background-color: #28b36e;
}
.article-product h4{
color: #000;
}

/* --------------- */
/* ------404------ */
/* --------------- */

.main-not-found{
    height: 70%;
    text-align: center;
    margin-top: 6%;
}
.main-not-found h2 {
    border: 3px solid red;
    width: 135px;
    margin: 0 auto;
    color: red;
    height: 135px;
    border-radius: 50%;
    line-height: 60px;
    font-size: 15px;
    -webkit-animation: aumentar .5s infinite linear alternate;
            animation: aumentar .5s infinite linear alternate;
}

.main-not-found p {
    margin-top: 50px;
    font-size: 35px;
}

.boton-volver{
    padding:20px 70px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #3483fa;
}

.boton-volver:hover{
    box-shadow: 10px 10px 15px 0px #666;
    cursor: pointer;
    border: none;
    background-color: gradient;
}

.boton-volver a{
    color: #000;
    font-size: 20px;
}

textarea:focus{
outline: #ccc;
}

input:focus{
outline: #ccc;
    }

/* CSS PROFILE */

.div-profile img{
    border-radius: 50%;
    width: 80%;
}

.boton-profile{
    border: 3px solid #6aa6ff;
    background-color: #0d6efd;
    padding: 5px;
    color: #fff;
    border-radius: 8px;
    width: 50%;
    font-size: 18px;
    margin: 25px auto;
    display: block;
}

.boton-profile:hover{
    color:black;
}

.editar-perfil{
    text-align: right;
    margin-right: 2%;
}
.h4-contraseña{
    margin: 20px;
}
.act-button{
    margin-bottom: 30px;
    padding: 10px;
    background-color: #4770ad;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 33%;
}

@media (min-width:750px){

    .main-home{
        
        display: flex;
       flex-wrap: wrap;
        justify-content: center;
    }
    .main-home .oferta{
        width: 100%;
    }
    .main-home .home-oferta{
        width: 99%;
    }
    .main-home a{
        width: 50%;
    }
    .contenedor-mercado-pago{
        width: 90%;
    }
    .logo{
        width: 50px;
        height: 54px;
    }
    .fa-search{
        font-size: 30px;
    }

    .carrito{
        font-size: 30px;
        margin-right: 20px;
    }


    .hamburguesa{
        font-size: 35px;
    }

    nav{
        display: flex;
        color:black;
        justify-content: center;
        font-size: 20px;
    }
    .crear-cuenta{
        border-right: 1px solid #666;
    }

    .ul-izquierdo{
        display: flex;
        
    }

    .ul-derecha{
        display: flex;
    }

    .ul-derecha li a{
        padding: 0 20px;
        color: #000;
    }

    header{
        height: 15%;
    }

    header p{
        margin-top:34px;
    }

    .contenedor-principal{
        flex-direction: row;
    }
    .detalle-producto img{
        width: 30%;
    }
    .contenedor-garantia-stock{
        align-items: center;
    }
    .caracteristicas-producto{
        justify-content: center;
    }
    
    .caracteristicas-producto p {
        margin: 0 25px
    }
    .textarea-consultas{
        width: 50%;
    }
    .input-email-consulta{
        width: 50%;
    }
    .consultas-producto button{
        width: 50%;
    }
    .detalle-producto-edit img{
        width: 30%;
    }
    .detalle-producto-edit .imagen-producto{
        width: 35%
    }
    .article-product{
        display: inline-block;
        width: 40%;
        margin: 25px 10px;
        transition: all .3s;
    }
    .article-product img{
        height: 500px;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .article-product{
        border: none
    }
    .article-product .descuento{
        bottom:558px
    }
    .article-product:hover{
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
        transform: scale(103%);
    }
    .user{
        font-size: 50px;
        margin-top: 15px;
    }
    .medios-de-pago{
        margin-bottom: 30px;
    }
    .div-profile img {
     width: 25%;
     
    }

    .fotito-carrito{
        display: inline-block;
        width: 200%;
        margin-top: 20px;
        transition: .5s;
        position: relative;
        z-index: 10;
    }

    .fotito-carrito:hover{
        width: 500%;
    }

    .main-not-found h2{
        border: 4px solid red;
        width: 170px;
        height: 170px;
        line-height: 78px;
    }
}
@media(min-width:980px){
    .input-login{
        width: 50%;
    }

    .modificar-button, .eliminar-button{
        width: 30%;
    }
   .user{
       padding-left: 0;
    }

    .btn-lg{
        display: flex;
        font-size: 0.8rem;

    }
    .contenedor-carrito{
        width: 70%;
    }

    .seis-cuotas {
         font-size: 30px;
     }

    .cupon-boton:hover{
        cursor: pointer;
    }

    .boton-profile{
        width: 30%;
    }
    .div-precio-total{
        width: 50%;
        margin: 0 auto;
    }

    .offcanvas-start {
        width: 400px !important;
    }

    .contenedor-footer{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 90%;
    
    }
    .columna3 img{
        max-width: 180px;
        max-height: 180px;
    }
    .columna3, .columna2, .columna1{
        width: 33%;
        max-width: 33%;
        
    }
    .contenedor-copyright{
        margin-top: 20px;
    }
    .columna2 img{
        width: 25px;
        height: 25px;
    }
    .columna1 p{
        text-align: left;
    }

    .filas{
        text-align: left;
        margin-left: 45px;
    }



    .detalle-producto-edit .imagen-producto{
       width: 35%
   }
   
   .article-product{
       display: inline-block;
       width: 30%;
       margin: 25px 10px;
       text-align: center;
       
   }
   .article-product img{
        height: 500px;
        -o-object-fit: cover;
            object-fit: cover;
        -o-object-position: top;
            object-position: top;
   }

   .oferta span{
       font-size: 45px;
    }

    .perfil{
        width: 60px;
    }

    .user{
        font-size: 50px;
        margin-top: 15px;
    }
    .carrusel{
        height: 300px !important;
        display: flex;
    }
    .carrusel-campera{
        height: 300px;
    }
    .foto-carrusel{
        object-position: 10px -120px;
        object-fit: cover;
        display: flex;
    }
    .carousel-indicators{
        display: flex;
    }

    .main-not-found h2{
        border: 5px solid red;
        width: 200px;
        height: 200px;
        line-height: 90px;
        font-size: 22px;
    }
}


@media(min-width:1200px){
    .carrusel{
        height: 300px !important;
    }

    .btn-lg{
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        border-radius: 0.3rem;
    }
    
    .foto-carrusel{
        object-position: 10px -200px;
        object-fit: cover;
    }

    .article-product .descuento{
        bottom: 570px
    }

    .formulario-flex-1{
        flex-grow: 2;
    }

    .formulario-flex-2{
        flex-grow: 1;
    }

    .contenedor-formulario-flex{
        display: flex;
        align-items: center;
    }


}
@media(min-width: 1400px){
    .foto-carrusel{
        object-position: 10px -260px;
        object-fit: cover;
    }
    .section-home{
        height: 200px;
    }
    .section-home span{
        line-height: 200px;
    }
}
@media(min-width:1600px){
    .foto-carrusel{
        object-position: 10px -300px;
        object-fit: cover;
    }

    .article-product img {
        object-fit: contain;
    }
}