<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>Carrito de compras</title>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="main-carrito">
        <h2 class="carrito-titulo">Mi carrito<i class="fas fa-shopping-cart"></i></h2>
     <div class="contenedor-carrito">

        <table class="carrito-tabla-control">
        <thead class="fila-principal">
            <tr>
                <th><strong>Foto</strong></th>
                <th><strong>Nombre</strong></th>
                <th><strong>Cantidad</strong></th>
                <th><strong>SubTotal</strong></th>
               <th></th>
            </tr>
        </thead>
        <p class='sin-productos'></p>

        <tbody class="fila-comun">
            <tr class = 'producto-completo-carrito'>
                <td class='imagen-producto-carrito'> </td>
                <td class="nombre-producto">
                    
                </td>
                <td class="cantidad-producto">
                    <div class="botones-control">
                        <input type="number" class="input-producto"> 
                        <button class="boton-restar"><i class="fas fa-minus"></i></button>
                        <button class="boton-sumar"><i class="fas fa-plus"></i></button>
                    </div>
                </td>
                <td class="precio-producto"></td>
                <td class="tarro-basura"><i class="fas fa-trash"></i></td>
            </tr>
        </tbody>

        </table>
    </div>
     <div class="div-precio-total">
         <p>Total:</p>
         <div class='signo-numero'>
         <p>$</p>
         <p class='precio-total'></p>
        </div>
     </div>
     <div class="cupon">

        <button type="submit" name="cupon" class="cupon-boton">Seguir la compra por Whatsapp</button>
         <!-- <div >
             <label for="cupon"></label>
            <input type="text" placeholder="Escribir código cupón" name="cupon" class="cupon-input">
         </div>
         <div >
           <button type="submit" name="cupon" class="cupon-boton" >APLICAR CUPÓN</button>
         </div> -->
     </div>

    </main>    
    
    <%- include('./partials/footer.ejs') %>
    <script type="text/javascript" src="/js/carritoDeCompras.js"></script>
    <script type="text/javascript" src="../jquey/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>