<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>PARÍS INDUMENTARIA</title>
    <body>
        <%- include('./partials/header.ejs') %>
        <a href="https://api.whatsapp.com/send?phone=5491130541998" target="_BLANK" class="appWhatsapp">
            <img src="./img/icono-whatsapp.png" alt="Whatsapp">
            </a>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner carrusel">
                  <div class="carousel-item active">
                    <img src="https://www.solocamperas.com/img/slide-1.jpg" class="d-block w-100 carrusel-campera" alt="Sólo camperas">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.chevignon.com.co/arquivos/20210611_camisas_mob_hombre.png?v=637590285837970000" class="d-block w-100 foto-carrusel" alt="Camisas">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.chevignon.com.co/arquivos/20210611_camisetas_mob_hombre.png?v=637590285843630000" class="d-block w-100 foto-carrusel" alt="Camisetas">
                  </div>
                  <div class="carousel-item">
                    <img src="https://moda-hombre.com/wp-content/uploads/2021/04/tendencias-zapatillas-minimalistas-hombre.jpg" class="d-block w-100" alt="Ropa de hombre">
                  </div>
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <main class="main-home">
                <a href="/productos/ofertas" class="home-oferta">
                    <section class="section-home oferta"> 
                        <span>OFERTAS</span></section></a>
                <a href="/productos/1 " class="home-remera">
                    <section class="section-home remera"> 
                        <b class="descuento-section">HASTA 20% OFF</b> 
                        <span>REMERAS</span>
                    </section>
                </a>
                <a href="/productos/2" class="home-buzos">
                    <section class="section-home buzos">
                        <span>BUZOS</span>
                    </section>
                </a>
                <a href="/productos/3" class="home-pantalones">
                    <section class="section-home pantalones">
                        <span>PANTALONES</span>
                    </section>
                </a>
                <a href="/productos/4" class="home-camisas">
                    <section class="section-home camisas">
                        <span>CAMISAS</span>
                    </section>
                </a>
                <a href="/productos/5" class="home-traje-baño">
                    <section id='hola' class="section-home traje-baño">
                        <b class="descuento-section">HASTA 30% OFF</b>
                        <span>TRAJES DE BAÑO</span>
                    </section>
                </a>
                <a href="/productos/6" class="home-medias">
                    <section class="section-home medias">
                        <span>MEDIAS</span>
                    </section>
                </a>
                <a href="/productos/9" class="home-gorras">
                    <section class="section-home gorras">
                        <span>GORRAS</span>
                    </section>
                </a>
                <a href="/productos/7" class="home-camperas">
                    <section class="section-home camperas">
                        <b class="descuento-section">HASTA 25% OFF</b>
                        <span>CAMPERAS</span>
                    </section>
                </a>
                <a href="/productos/8" class="home-bermudas">
                    <section class="section-home bermudas">
                        <span>BERMUDAS</span>
                    </section>
                </a>
                <a href="/productos/10" class="home-accesorios">
                        <section class="section-home accesorios">
                            <span>ACCESORIOS</span>
                        </section>
                </a>
                <section class="contenedor-mercado-pago">
                    <div class="medios-de-pago">
                        <span class="texto-mp"> 
                            <img src="https://www.baenegocios.com/__export/1603891577880/sites/cronica/img/2020/10/28/kit-cartel-sticker-calco-mercado-pago-point-qr-tarjetas-ofic-d_q_np_892404-mla41363021042_042020-f.webp_675828847.webp" alt="logo mercado pago" class="imagen-mp" width="100px " height="100px" >
                            <strong>Abona tus compra a través de MERCADOPAGO<i class="far fa-credit-card"></i>
                                <i class="fas fa-comment-dollar"></i>
                                <i class="far fa-money-bill-alt"></i>
                            </strong>
                        </span>
                    </div>
                </section>
                <br>
        </main>
        <%- include('./partials/footer.ejs') %>
        <script type="text/javascript" src="../jquey/jquery-3.6.0.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
                    <!-- <a href="/productos/sudadera" class="home-sudaderas"><section class="section-home sudaderas"><span>SUDADERAS</span></section></a> -->