<html>
    <head>
    <%- include('./partials/head') %> 
    <title>404 NOT FOUND</title>
</head>
    <%- include('./partials/header') %> 
    
    <body>
        <!-- <div >
            <img src="./img/not-found.jpg" alt="">
        </div> -->
        <main class="main-not-found">
            <h2>PÁGINA NO ENCONTRADA</h2>
            <p>No se encontró resultado de su búsqueda</p>
            <button class = "boton-volver"><a href="/">VOLVER</a></button>
        </main>
        <%- include('./partials/footer') %> 
        <script type="text/javascript" src="../jquey/jquery-3.6.0.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>