*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}

header{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/85/919/639/asus-republic-of-gamers-gaming-laptop-gamer-hd-wallpaper-preview.jpg);
    background-size: cover;
    background-position-y: bottom;
    /* background-color: #298bbb; */
    height: 130px;
    text-align: center;
}
.logo{
    color:white
}

.titulos-section{
    color: #ffffff;
}
.fa-search{
    padding:0;
}

.lupa {
    height: 20px;
    margin-top: 15px;
}

.buscador{
    margin-left: 50px;
    width: 250px;
    margin-top: 15px;
}



.carrito{
    margin-left: 50px;
    border: none;
    margin-top: 15px;
    font-size: larger;
    color: #ccc
}

.header-flex{
    display: flex;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
}

.hamburguesa{
    margin-top: 20px;
    color: white;
    font-size: 25px;
}

header p {
   text-align: center;
   height: 35px;
   line-height: 35px;
   margin-top: 14px;
    font-family: 'Righteous', cursive;
    font-size: 25px;
    color:white;
    background-color: black;
}

nav{
    display:none
}

.carrousel {
    width: 100%;
    height: 200px;
}

.imagen-carrousel{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



main div h1 {
    color: white;
    text-align: center;
    line-height: 200px;
}

.fa-arrow-left{
    line-height: 200px;
    margin-left: 15px;
    position: absolute;
    left: 0;
    font-size: 25px;
    color: white;
}
.fa-arrow-right{
    line-height:  200px;
    font-size: 25px;
    margin-right: 15px;
    position: absolute;
    right: 0;
    color: white
}

.productos-destacados{
    text-align: center;
    padding: 10px;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    background-color: #a48dff;
}

main{
    text-align: center;
    background-image: url(https://img.freepik.com/vector-gratis/diseno-fondo-tecnologico_23-2148503801.jpg?size=626&ext=jpg);
    /* background-color: rgb(230,230,230); */
}

.mas-buscados, .notebooks {
    padding: 15px;
    
    border-top: 1px solid #888
}

main article{
    border-radius: 18px;
    display: inline-block;
    text-align: center;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px 25px 25px 25px;
    height: 300px;
    width: 200px;
    background-color: white;
}
.fa-star{
    position: relative;
    right: 100px;
    color: rgb(243, 191, 18)
}

img {
    object-fit: contain;
    width: 100%;
    height: 60%;
}

.precio{
    font-size: 24px;
    font-weight: bold;
}

.fa-truck{
    position:relative;
    left: 100px;
    bottom: 25px;
    color: #4a4;
    border: 1px solid #4a4;
    padding: 7px;
    border-radius: 50%;
}

.medios-de-pago{
    background-color: whitesmoke;
    border: 1px solid gray;
    width: 90%;
    margin: 0 auto;
    bottom: 10px;
    text-align: center;
}
.imagen-mp{
    width: 50px;
    /* height: 75px; */
    vertical-align: middle;
    display: inline-block;
    line-height: 75px;
   
}
.texto-mp{
    padding-top: -20px;
    
}

div span strong{
    display: inline-block;
    text-align: center;
    /* padding-top: 15px ;
    line-height: 100px; */
}

footer{
    background: #333;
    width: 100%;
    color: white;
    

}
.contenedor-principal{
    padding: 15px 15px 20px 15px;
    /* width: 100%; */
    text-align: center;
}
.contenedor-footer{
    display: inline-block;
    /* Poner el display flex en mediaQ de escritorio */
    justify-content: space-between;
}
.columna1{
    max-width: 400px;
}

.columna1 h1{
    font-size: 24px;
}
.columna1 p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.columna2{
    max-width: 400px;

}
.columna2 h1{
    font-size: 24px;
}
.columna2 .filas{
    
    margin-top: 20px;
}
.filas img{
    width: 35px;
    height: 35px;
}
.filas label{
    margin-top: -10px ;
    margin-left: 10px;
    
}
.columna3{
    max-width: 400px;

}
.columna3 h1{
    font-size: 24px;
}
.filas2{
    margin-top: 20px;
}

.contenedor-copyright{
    max-width: 100%;
}

.politicas {
    margin-top: 15px;
}

.politicas a{
    margin-left: 20px;
}

.politicas a:link{
    color:white;
}

.politicas a:visited{
    color:white
}

/* Acá empieza el css del register */
.container-form{
    padding: 35px 0px;
    text-align: center;
    background-color: rgba(200,200,200, 0.5);
}
.form-titulo{
    /* margin: 20px; */
    background-color: rgba(200,200,200, 0.5);
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.ingresar-texto{
    width: 70%;
    max-width: 300px;
    height: 25px;
    margin: 20px 0px;
    border-radius: 5px;
    border:1px solid #999;
    padding: 5px;
}

.ingresar-texto:focus{
    outline: none;
}

label{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

.boton-enviar{
    background-color: #eee;
    border: none;
    color: black;
    padding: 7px;
    width: 80px;
    font-weight: bold;
    margin-right:25px;
    margin-top: 15px
}
.boton-borrar{
    background-color: #eee;
    border: none;
    color: black;
    font-weight: bold;
    width:80px;
    padding: 7px;
    margin-left:25px;
    margin-top: 15px
}

.boton-borrar:hover{
    box-shadow: 5px 5px 12px #222;
}

.boton-enviar:hover{
    box-shadow: 5px 5px 12px #222;
}

#main-register{
    background-image: url(https://images.ole.com.ar/2021/01/22/LSpcCMae5_1256x620__1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}