*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    
}

body{
    min-width: 375px;
}

header{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/85/919/639/asus-republic-of-gamers-gaming-laptop-gamer-hd-wallpaper-preview.jpg);
    background-size: cover;
    background-position-y: bottom;
    /* background-color: #298bbb; */
    height: 130px;
    text-align: center;
}

.hamburguesa

.titulos-section{
    color: #ffffff;
}
.fa-search{
    padding:0;
}

.lupa {
    padding: 5px;
    border:none;
    border-radius: 0 5px 5px 0;
}

.buscador{
    width: 100%;
    border:none;
    border-radius: 5px 0 0 5px;
    padding-left: 5px;
}

.buscador:focus{
    outline:none;
}

.lupa-barra{
    display: flex;
    width: 60%;
}

.carrito{
    border: none;
    font-size: larger;
    color: #ccc
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 2px 15px;
}

.hamburguesa{
    color: white;
    font-size: 25px;
    padding-bottom: 9px;
}

header p {
   text-align: center;
   height: 35px;
   line-height: 35px;
    font-family: 'Righteous', cursive;
    font-size: 25px;
    color:white;
    background-color: black;
    
}

.logo{
    color:white;
    width: 100px;
    height: 50px; 
    border-radius: 10px;
    object-fit: cover;
}

.aviso-cuotas{
    z-index: 10;
}



nav{
    display:none
}

.carrousel {
    width: 100%;
    height: 200px;
}

.imagen-carrousel{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:relative
}



main div h1 {
    color: white;
    text-align: center;
    line-height: 200px;
}

.fa-arrow-left{
    top:220px;
    position: absolute;
    left: 3%;
    font-size: 25px;
    color: white;
    z-index:100;
}
.fa-arrow-right{
    top: 220px;
    font-size: 25px;
    position: absolute;
    right: 3%;
    color: white
}

.productos-destacados{
    text-align: center;
    padding: 10px;
    line-height: 50px;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    background-color: #a48dff;
    /* background-color: white; */
    height: 50px;
}

main{
    text-align: center;
    background-image: url(https://img.freepik.com/vector-gratis/diseno-fondo-tecnologico_23-2148503801.jpg?size=626&ext=jpg);
}

.main-home-fondo{
    background-color: rgba(255,255,255,0.3);
}

.mas-buscados, .notebooks {
    padding: 15px;
    
    border-top: 1px solid #888
}

main article{
    border-radius: 18px;
    display: inline-block;
    text-align: center;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px 25px 25px 25px;
    height: 300px;
    width: 200px;
    background-color: white;
}
main article:hover{
  box-shadow:  -2px 5px 10px 19px rgba(7, 6, 6, 0.527)
}
.fa-star{
    position: relative;
    right: 100px;
    color: rgb(243, 191, 18)
}

img {
    object-fit: contain;
    width: 100%;
    height: 60%;
}

.precio{
    font-size: 24px;
    font-weight: bold;
}

.camion-home{
    position:relative;
    left: 100px;
    bottom: 25px;
    color: #4a4;
    border: 1px solid #4a4;
    padding: 7px;
    border-radius: 50%;
}

.medios-de-pago{
    background-color: whitesmoke;
    border: 1px solid gray;
    width: 90%;
    margin: 0 auto;
    bottom: 10px;
    text-align: center;
}
.imagen-mp{
    width: 50px;
    /* height: 75px; */
    vertical-align: middle;
    display: inline-block;
    line-height: 75px;
   
}
.texto-mp{
    padding-top: -20px;
    
}

div span strong{
    display: inline-block;
    text-align: center;
    /* padding-top: 15px ;
    line-height: 100px; */
}

footer{
    background: #333;
    width: 100%;
    color: white;
}
.contenedor-principal{
    padding: 15px 15px 20px 15px;
    /* width: 100%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-footer{
    display: inline-block;
    /* Poner el display flex en mediaQ de escritorio */
}
.columna1{
    max-width: 400px;
}

.columna1 h1{
    font-size: 24px;
}
.columna1 p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.columna2{
    max-width: 400px;

}
.columna2 h1{
    font-size: 24px;
}
.columna2 .filas{
    
    margin-top: 20px;
}
.filas img{
    width: 35px;
    height: 35px;
}
.filas label{
    margin-top: -10px ;
    margin-left: 10px;
    
}
.columna3{
    max-width: 400px;

}
.columna3 h1{
    font-size: 24px;
}
.filas2{
    margin-top: 20px;
}

.contenedor-copyright{
    max-width: 100%;
}

.politicas {
    margin-top: 15px;
}

.politicas a{
    margin-left: 20px;
}

.politicas a:link{
    color:white;
}

.politicas a:visited{
    color:white
}

/* Acá empieza el css del register */
.container-form{
    padding: 35px 0px;
    text-align: center;
    background-color: rgba(200,200,200, 0.5);
}
.form-titulo{
    /* margin: 20px; */
    background-color: rgba(200,200,200, 0.5);
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.ingresar-texto{
    width: 70%;
    max-width: 300px;
    height: 25px;
    margin: 20px 0px;
    border-radius: 5px;
    border:1px solid #999;
    padding: 5px;
}

.ingresar-texto:focus{
    outline: none;
}

label{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

.boton-enviar{
    background-color: #eee;
    border: none;
    color: black;
    padding: 7px;
    width: 80px;
    font-weight: bold;
    margin-right:25px;
    margin-top: 15px;
    box-shadow: 5px 5px 15px 0 #555;
}

.boton-enviar:active{
    background-color: #888;
}

.boton-borrar{
    background-color: #eee;
    border: none;
    color: black;
    font-weight: bold;
    width:80px;
    padding: 7px;
    margin-left:25px;
    margin-top: 15px;
    box-shadow: 5px 5px 15px 0 #555;
}

.boton-borrar:active{
    background-color: #555;
}

.boton-borrar:hover{
    box-shadow: 5px 5px 12px #222;
}

.boton-enviar:hover{
    box-shadow: 5px 5px 12px #222;
}

#main-register{
    background-image: url(https://images.ole.com.ar/2021/01/22/LSpcCMae5_1256x620__1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

/* -----------------------------------------
Aca empieza el css del detalle de producto 
--------------------------------------------*/
.detalle-producto{
    background-color: white;
}

.contenedor-garantia-stock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 20%;
    border-top: 1px solid gray;
    
}

.contenedor-garantia-stock p {
    padding-top: 10px;
    line-height: 10px;
}

.iconos-producto{
    margin-right: 13px;
    color: #080;
    font-size: 20px;
}

.button-comprar, .button-agregar-carrito{
    width: 35%;
    padding: 10px;
    margin: 10px;
    font-weight: bold ;
}
.button-comprar{
background-color: #3483fa; 
color: white;   
border-radius: 5px;
border: none;
animation: aumentar .5s infinite linear alternate;
}
.button-agregar-carrito{
background-color: #ddd;
color:#3483fa;
border-radius: 5px;
border: none;
}

.caracteristicas-producto{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 25%;
    padding-top: 15px;
}

.caracteristicas-producto p {
    padding-top:10px;
}

.caracteristicas-producto:last-child{
    padding-bottom: 15px;
}

.titulo-producto{
    color: #555;
    margin-bottom: 2%;
}

.imagen-producto{
    width: 80%;
}

.div-cantidad-producto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    border-bottom: 1px solid gray;
    padding-bottom: 5%;
}

.cantidad-productos-detalle{
    font-size: 25px;
    width: 47px;
    margin-right: 15px;
    text-align: center;
    border: 2px solid #aaa
}

.cantidad-productos-detalle:focus{
    outline: none;
}

.sumar-restar-producto-menos {
    margin-right: 8px;
    margin-left: 8px;
    width: 34px;
    height: 34px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #aaa
}

.sumar-restar-producto-mas{
    margin-right: 8px;
    margin-left: 8px;
    width: 34px;
    height: 34px;
    font-size: 22px;
    font-weight: bold;
    background-color: #3483fa;
    border:none;
    border-radius: 5px;
}

.consultas-producto{
    margin: 25px 0 25px 0;
    padding: 10px;
    border-top: 1px solid gray;
}

.p-consultas{
    margin-bottom: 16px;
    font-size: 22px;
}

.label-email-consulta{
    font-family: 'Roboto', sans-serif;
}

.input-email-consulta{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 70%;
    padding: 2px 5px 2px 5px;
}

.textarea-consultas{
    width: 70%;
    padding-left: 16px;
    padding-top: 8px;
}

.consultas-producto button {
    padding: 5px;
    width: 70%;
    margin-top: 8px;
    background-color: #3483fa;
    color:white;
    font-weight: bold;
    border:none;
    border-radius: 5px;
}

@keyframes aumentar {
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(107%);
    }
}

/*-----------------------------------
 CSS carrito 
 ------------------------------------*/
 .main-carrito{
    color: white;
}

.contenedor-carrito{
    background-color: rgba(255,255,255,0.3);
    padding: 15px;
    margin: 15px 15px 0 15px;
    margin: 0 auto;
    
}
.carrito-titulo{
    
    padding: 15px;
    text-align: left;
}
.cupon-boton{
    background-color: rgb(219, 22, 81);
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 10px;
    
}
.cupon-boton:hover{
    box-shadow: 0px 0px 15px 0 #666;
}
.fila-principal{
border: 1px solid red;
}
.input-producto{  
    width: 22px;
} 

.nombre-producto, .precio-producto, .cantidad-producto{
    padding: 5px;
    width: 33%;
}
.cupon{
    
    padding: 15px; 
    margin: 0 15px;
}
.cupon-input{
    margin: 15px;
    padding: 2px;
}
.cupon-input:focus{
outline: none;
}

/*------------------------------ 
Aca empieza el CSS del login 
--------------------------------*/

.main-login{
    text-align: center;
    background-image: url(https://images.ole.com.ar/2021/01/22/LSpcCMae5_1256x620__1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.fondo-login{
    background-color: rgba(255,255,255,0.5);
}
.titulo-login{
    margin: 0px 0 25px 0
}

.form-login{
    width: 70%;
    margin: 0 auto;
    padding:1px;
}

.input-login{
    margin-top:10px;
    margin-bottom:20px;
    padding:3px;
    border: 2px solid #888;
    border-radius: 5px;
    width: 50%;
}

.input-login:focus{
    outline: none;
}

.olvidar-contraseña{
    font-size: 70%;
}

.registrarse-texto{
    font-size: 16px;
    margin: 20px 0 5px 0;
}

.ingresar-boton{
    margin-top:15px;
    padding: 8px;
    color:white;
    font-weight: bold;
    background-color:black;
    border-radius: 8px;
    border:none
}

.registrarse-boton{
    text-align: center;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: orange;
    margin: 8px auto;
    color:black;
    font-weight: bold;
    padding:4px
}

.enlace-registrarse{
    
    text-decoration: none;
}


/* @media(min-width:380px){
    header{
        height: 15%;
    }
    
} */


@media (min-width:611px){
    nav{
        display: flex;
        color:white;
        justify-content: space-between;
    }
    .hamburguesa{
        display: none;
    }

    .ul-izquierdo{
        display: flex;
    }

    .ul-derecha{
        display: flex;
    }

    header{
        height: 15%;
    }

    header p{
        margin-top:34px;
    }

    .contenedor-principal{
        flex-direction: row;
    }

}