<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<title>TODO GAMING</title>
</head>
<body>
    <header>
        <div class="header-flex"><h2 class="logo">Logo</h2>
        <input type="text" placeholder="Buscar..." class="buscador">
        <button class="lupa"><i class="fas fa-search"></i></button>
        <i class="fas fa-shopping-cart carrito"></i>
        </div>
        <i class="fas fa-bars hamburguesa"></i>
        <p>12 y 18 CUOTAS SIN INTERÉS</p>

        <nav>
            <ul>
                <li>ARMÁ TU PC</li>
                <li>PERIFÉRICOS</li>
                <li>COMPONENTES DE PC</li>
                <li>NOTEBOOKS</li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="carrousel"><i class="fas fa-arrow-left"></i> <h1>CARROUSEL </h1> <i class="fas fa-arrow-right"></i></div>
        <h2 class= "productos-destacados">PRODUCTOS DESTACADOS</h2>
        <section class="mas-buscados">
            <h2>LOS MÁS BUSCADOS</h2>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://images.samsung.com/is/image/samsung/au_LS24F350FHEXXY_001_Front_black?$L1-Thumbnail$ alt="" width=300px>
                <p>Monitor LED 24" Samsung</p>
                <p>$22.000</p>
                <p>Cuotas</p>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_665472-MLA46561036313_062021-W.jpg alt="Monitor">
                <p>GeForce GTX 1650 Ti</p>
                <p>$50.000</p>
                <p>Cuotas</p>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_919613-MLA43361136423_092020-W.jpg alt="Fuente de alimentación" width=300px>
                <p> Fuente de alimentación Sentey 550W 100V/240V</p>
                <p>$22.000</p>
                <p>Cuotas</p>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://www.amd.com/system/files/11157-ryzen-5-pib-left-facing-1260x709.png alt="Procesador" width=300px>
                <p>Procesador AMD Ryzen™ 5 1600</p>
                <p>$20.500</p>
                <p>Cuotas</p>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://mla-s1-p.mlstatic.com/998283-MLA45114189746_032021-F.jpg alt="" width=150px height=200px>
                <p>Gabinete Kolink Observatory 4x120mm Vidrio</p>
                <p>$7.130</p>
                <p>Cuotas</p>
            </article>
        </section>
        <br><br>
        <hr>
        <section class="notebooks">
            <h2>NOTEBOOKS</h2>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_944413-MLA42937681675_072020-O.webp alt="" width=300px>
                <p>Notebook Intel Cloudbook 4gb 64gb Enova Windows</p>
                <p>$39.655</p>
                <p>Cuotas</p>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_801112-MLA46516512347_062021-O.webp alt="" width=300px>
                <p>Apple McBook Air 13"</p>
                <p>$167.000</p>
                <p>Cuotas</p>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_791553-MLA44963321254_022021-O.webp alt="" width=300px>
                <p>Notebook Asus ZenBook 14"</p>
                <p>$117.820</p>
                <p>Cuotas</p>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_617392-MLA44927875077_022021-O.webp alt="" width=300px>
                <p>Notebook Acer Aspire 15.6"</p>
                <p>$97.800</p>
                <p>Cuotas</p>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_913944-MLA44973386650_022021-O.webp alt="" width=300px>
                <p>otebook Asus VivoBook R564JA slate gray 15.6"</p>
                <p>$76.999</p>
                <p>Cuotas</p>
            </article>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>