<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<title>TODO GAMING</title>
</head>
<body>
    <header>
        <div class="header-flex">
        <img src="/img/Logo.png" alt="" class="logo">
        <div class="lupa-barra">
            <input type="text" placeholder="Buscar..." class="buscador">
            <button class="lupa"><i class="fas fa-search"></i></button>
        </div>
        <i class="fas fa-shopping-cart carrito"></i>
        </div>
        <a href="#"><i class="fas fa-bars hamburguesa"></i></a>
        <nav>
            
            <ul class="ul-izquierdo">
                <li>ARMÁ TU PC</li>
                <li>PERIFÉRICOS</li>
                <li>COMPONENTES DE PC</li>
                <li>NOTEBOOKS</li>
            </ul>

            <ul class="ul-derecha">
           <li><a href="#"> Crea tu cuenta</a></li>  
           <li> <a href="#">Ingresá</a> </li>  
           <li><a href="#">Mis compras</a></li>  
             
            </ul>
        </nav>
        <div class="aviso-cuotas"> <p>12 y 18 CUOTAS SIN INTERÉS</p> </div>
    </header>

    <main>
        <div class="main-home-fondo">
         <div class="carrousel"><i class="fas fa-arrow-left"></i> <img class="imagen-carrousel" src="https://i.pinimg.com/originals/67/e6/43/67e643a3f9b0b2927527d294b3f4299f.jpg" alt=""> <i class="fas fa-arrow-right"></i></div>
        <h2 class= "productos-destacados">PRODUCTOS DESTACADOS</h2>
        <section class="mas-buscados">
            <h2 class="titulos-section">LOS MÁS BUSCADOS</h2>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_600196-MLA44913483868_022021-O.webp alt="Monitor" width=300px>
                <p>Monitor LED 24" Samsung</p> <br>
                <p class ="precio">$22.000</p>
                <p>Cuotas</p>
                <i class="fas fa-truck camion-home"></i>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_665472-MLA46561036313_062021-W.jpg alt="Procesador">
                <p>GeForce GTX 1650 Ti</p> <br>
                <p class ="precio">$50.000</p>
                <p>Cuotas</p>
                <i class="fas fa-truck camion-home"></i>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_919613-MLA43361136423_092020-W.jpg alt="Fuente de alimentación" width=300px>
                <p> Fuente de alimentación Sentey 550W 100V/240V</p> <br>
                <p class ="precio">$22.000</p>
                <p>Cuotas</p>
                <i class="fas fa-truck camion-home"></i>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://www.amd.com/system/files/11157-ryzen-5-pib-left-facing-1260x709.png alt="Procesador" width=300px>
                <p>Procesador AMD Ryzen™ 5 1600</p> <br>
                <p class ="precio">$20.500</p>
                <p>Cuotas</p>
                <i class="fas fa-truck camion-home"></i>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://mla-s1-p.mlstatic.com/998283-MLA45114189746_032021-F.jpg alt="" width=150px height=200px>
                <p>Gabinete Kolink Observatory 4x120mm Vidrio</p> <br>
                <p class ="precio">$7.130</p>
                <p>Cuotas</p>
                <i class="fas fa-truck camion-home"></i>
            </article>
            <br><br>
        </section>
        
        <section class="notebooks">
            <h2 class="titulos-section">NOTEBOOKS</h2>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_944413-MLA42937681675_072020-O.webp alt="" width=300px>
                <p>Notebook Intel Cloudbook 4gb 64gb Enova Windows</p> <br>
                <p class ="precio">$39.655</p>
                <p>Cuotas</p>
                <i class="fas fa-truck camion-home"></i>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_801112-MLA46516512347_062021-O.webp alt="" width=300px>
                <p>Apple McBook Air 13"</p> <br>
                <p class ="precio">$167.000</p>
                <p>Cuotas</p>
                <i class="fas fa-truck camion-home"></i>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_791553-MLA44963321254_022021-O.webp alt="" width=300px>
                <p>Notebook Asus ZenBook 14"</p> <br>
                <p class ="precio">$117.820</p>
                <p>Cuotas</p>
                <i class="fas fa-truck camion-home"></i>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_617392-MLA44927875077_022021-O.webp alt="" width=300px>
                <p>Notebook Acer Aspire 15.6"</p> <br>
                <p class ="precio">$97.800</p>
                <p>Cuotas</p>
                <i class="fas fa-truck camion-home"></i>
            </article>
            <article>
                <i class="far fa-star"></i> <br>
                <img src=https://http2.mlstatic.com/D_NQ_NP_913944-MLA44973386650_022021-O.webp alt="" width=300px>
                <p>Notebook Asus VivoBook R564JA slate gray 15.6"</p> <br>
                <p class ="precio">$76.999</p>
                <p>Cuotas</p>
                <i class="fas fa-truck camion-home"></i>
            </article>
            
        </section>
        <section class="contenedor-mercado-pago">
        <div class="medios-de-pago">
            
               
                <span class="texto-mp"> <img src="https://www.baenegocios.com/__export/1603891577880/sites/cronica/img/2020/10/28/kit-cartel-sticker-calco-mercado-pago-point-qr-tarjetas-ofic-d_q_np_892404-mla41363021042_042020-f.webp_675828847.webp" alt="logo mercado pago" class="imagen-mp" width="100px " height="100px" >
                    <strong> Abona tus compra a través de MERCADOPAGO     <i class="far fa-credit-card"></i>
                    <i class="fas fa-comment-dollar"></i>
                    <i class="far fa-money-bill-alt"></i></strong></span>
            
        </div>
    </section>
     <br>
    </main>

    <footer>
        <div class="contenedor-principal">
            <div class="contenedor-footer">
                <div class="columna1">
                    <h1>Más información de la compañía</h1>
                    <p>Somos una página de venta de PC's, componentes y accesorios con un amplio catálogo de marcas y productos. El mejor precio y calidad lo vas a encontrar acá, donde desde el año 2015 te brindamos asesoramiento gratuito con vendedores altamente capacitados y una garantía de 1 año en todos los productos.</p>
                </div>

                <div class="columna2"> 
                    <h1>Nuestras redes y contactos</h1>
                    <div class="filas"> 
                        <img src="http://assets.stickpng.com/thumbs/584ac2d03ac3a570f94a666d.png">
                        <label>Síguenos en Facebook</label>
                    </div>
                    <div class="filas"> 
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png">
                        <label>Síguenos en Instagram</label>
                    </div>
                    <div class="filas"> 
                        <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c543.png">
                        <label>Nuestro Whatsapp</label>
                    </div>
                    <div class="filas"> 
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/2560px-Gmail_icon_%282020%29.svg.png">
                        <label>Nuestro Mail</label>
                    </div>
                </div>   
                <div class="columna3">
                    <h1>¿Dónde estamos?</h1>   
                    <div class="filas2">
                        <label>Dirección 1234
                        <img src="https://i.blogs.es/b4dd5c/maps/1366_2000.png">
                        </label>
                    </div> 
                </div>        
            
            </div>

                <div class="contenedor-copyright"> 
                <div class="copyright">
                    <p>© Todos los derechos reservados|TodoGaming</p> 
                </div>
                <div class="politicas">
                    <a href="#">Información</a>
                    <a href="#">Política y privacidad</a>
                    <a href="#">Términos y condiciones</a>
                </div>
                </div>
        </div>
    </footer>
</body>
</html>