<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
        
    <main>
        <a href="" class="home-remera"><section class="section-home remera"><span>REMERAS</span></section></a>
        <a href="" class="home-buzos"><section class="section-home buzos"><span>BUZOS</span></section></a>
        <a href="" class="home-pantalones"><section class="section-home pantalones"><span>PANTALONES</span></section></a>
        <a href="" class="home-camisas"><section class="section-home camisas"><span>CAMISAS</span></section></a>
        <a href="" class="home-traje-baño"><section class="section-home traje-baño"><span>TRAJES DE BAÑO</span></section></a>
        <a href="" class="home-medias"><section class="section-home medias"><span>MEDIAS</span></section></a>
        <a href="" class="home-gorras"><section class="section-home gorras"><span>GORRAS</span></section></a>
        <a href="" class="home-camperas"><section class="section-home camperas"><span>CAMPERAS</span></section></a>
        <a href="" class="home-bermudas"><section class="section-home bermudas"><span>BERMUDAS</span></section></a>
        <a href="" class="home-sudaderas"><section class="section-home sudaderas"><span>SUDADERAS</span></section></a>
        <a href="" class="home-accesorios"><section class="section-home accesorios"><span>ACCESORIOS</span></section></a>

        <section class="contenedor-mercado-pago">
            <div class="medios-de-pago">
                <span class="texto-mp"> <img src="https://www.baenegocios.com/__export/1603891577880/sites/cronica/img/2020/10/28/kit-cartel-sticker-calco-mercado-pago-point-qr-tarjetas-ofic-d_q_np_892404-mla41363021042_042020-f.webp_675828847.webp" alt="logo mercado pago" class="imagen-mp" width="100px " height="100px" >
                    <strong> Abona tus compra a través de MERCADOPAGO     <i class="far fa-credit-card"></i>
                    <i class="fas fa-comment-dollar"></i>
                    <i class="far fa-money-bill-alt"></i></strong></span>
            
        </div>
    </section>
     <br>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>