<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
<title>Detalle de producto</title>
</head>

<header>
    <div class="header-flex">
    <h2 class="logo">Logo</h2>
    <input type="text" placeholder="Buscar..." class="buscador">
    <button class="lupa"><i class="fas fa-search"></i></button>
    <i class="fas fa-shopping-cart carrito"></i>
    </div>
    <i class="fas fa-bars hamburguesa"></i>
    <p>12 y 18 CUOTAS SIN INTERÉS</p>

    <nav>
        <ul>
            <li>ARMÁ TU PC</li>
            <li>PERIFÉRICOS</li>
            <li>COMPONENTES DE PC</li>
            <li>NOTEBOOKS</li>
        </ul>
    </nav>
</header>
    <main>
        <div class="detalle-producto">
        <img src=https://images.samsung.com/is/image/samsung/au_LS24F350FHEXXY_001_Front_black?$L1-Thumbnail$ alt="" width=300px>
        <p>Monitor LED 24" Samsung</p>
        <p>$22.000</p>
        <p><i class="fas fa-user-shield"></i>Garantía</p>
        <p><i class="fas fa-check"></i>Stock disponible</p>
        <p><i class="fas fa-truck"></i>Envíos a todo el país</p>
        <button type="submit">Sumar al carrito</button>
        <h3>Características generales</h3>
        <p>Marca : Lenovo
          <p>  Modelo : L24E-20</p>
          <p>  P/N : 65DF-KAC1AR</p>
          <p>  UPC : 195042224931</p>
          <p>  Color : Negro</p>
          <p>  Tamaño de panel : 24"</p>
          <p>  Curvo/Plano : Plano</p>
          <p>  Colores : 16.7M</p>
          <p>  Tipo de panel : VA</p>
          <p>  Resolución : 1920 x 1080</p>
          <p>  Brillo(Max) : 250cd/m2</p>
          <p>  Ángulo de vision : 178 grados / 178 grados</p>
          <p>  Parlantes : No</p>
          <p>  Conectividad : 1 x VGA, 1 x HDMI</p>
          <p>  Frecuencia de actualizacion : 60 Hz</p>
          <p>  Tiempo de respuesta (ms) : 4 ms</p>
          <p>  Voltaje : 100-240 V, 50/60 Hz</p>
          <p>  Inclinación : Si</p>
          <p>  Giratorio : No</p>
          <p>  Pivote : No</p>
          <p>  Ajuste en altura : No</p>
          <p>  VESA : No</p>
          <p>  Bloqueo Kensington : No</p>
          <p>  Freesync/Gsync : Freesync</p>
          <p>  Dimensiones físicas con base : 402,7 x 539,5 x 190,0 mm</p>
          <p>  Peso con base : 3,36 kg</p>
        </p>
        </div>
    </main>

<footer>
    <div class="contenedor-principal">
    <div class="contenedor-footer">
     <div class="columna1">
         <h1>Más información de la compañía</h1>
         <p>Somos una página de venta de PC's, componentes y accesorios con un amplio catálogo de marcas y productos. El mejor precio y calidad lo vas a encontrar acá, donde desde el año 2015 te brindamos asesoramiento gratuito con vendedores altamente capacitados y una garantía de 1 año en todos los productos.</p>
     </div>

     <div class="columna2"> 
         <h1>Nuestras redes y contactos</h1>
         <div class="filas"> 
             <img src="http://assets.stickpng.com/thumbs/584ac2d03ac3a570f94a666d.png">
             <label>Síguenos en Facebook</label>
         </div>
         <div class="filas"> 
             <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png">
             <label>Síguenos en Instagram</label>
         </div>
         <div class="filas"> 
             <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c543.png">
             <label>Nuestro Whatsapp</label>
         </div>
         <div class="filas"> 
             <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/2560px-Gmail_icon_%282020%29.svg.png">
             <label>Nuestro Mail</label>
         </div>
        </div>   
    <div class="columna3">
         <h1>¿Dónde estamos?</h1>   
          <div class="filas2">
              
            <label>Dirección 1234
            <img src="https://i.blogs.es/b4dd5c/maps/1366_2000.png">
        </label>
    </div> 
        </div>        
        
    </div>

<div class="contenedor-copyright"> 
 <div class="copyright">
    © Todos los derechos reservados|TodoGaming 
 </div>
 <div class="politicas">
   <a href="">Información</a>
  <a href="">Política y privacidad</a>
   <a href="">Términos y condiciones</a>
 </div>
</div>
</div>
</footer>
</body>
</html>