<footer>
    <div class="contenedor-principal-footer">
        <div class="contenedor-footer">
            <div class="columna1">
                <h1>Más información de la compañía</h1>
                <p>Somos una página de venta de PC's, componentes y accesorios con un amplio catálogo de marcas y productos. El mejor precio y calidad lo vas a encontrar acá, donde desde el año 2015 te brindamos asesoramiento gratuito con vendedores altamente capacitados y una garantía de 1 año en todos los productos.</p>
            </div>

            <div class="columna2"> 
                <h1>Nuestras redes y contactos</h1>
                <div class="filas"> 
                    <img src="http://assets.stickpng.com/thumbs/584ac2d03ac3a570f94a666d.png">
                    <label>Síguenos en Facebook</label>
                </div>
                <div class="filas"> 
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png">
                    <label>Síguenos en Instagram</label>
                </div>
                <div class="filas"> 
                    <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c543.png">
                    <label>Nuestro Whatsapp</label>
                </div>
                <div class="filas"> 
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/2560px-Gmail_icon_%282020%29.svg.png">
                    <label>Nuestro Mail</label>
                </div>
            </div>   
            <div class="columna3">
                <h1>¿Dónde estamos?</h1>   
                <div class="filas2">
                    <label>Dirección 1234
                    <img class="mapa-footer" src="https://i.blogs.es/b4dd5c/maps/1366_2000.png">
                    </label>
                </div> 
            </div>        
        
        </div>

            <div class="contenedor-copyright"> 
            <div class="copyright">
                <p>© Todos los derechos reservados|TodoGaming</p> 
            </div>
            <div class="politicas">
                <a href="#">Información</a>
                <a href="#">Política y privacidad</a>
                <a href="#">Términos y condiciones</a>
            </div>
            </div>
    </div>
</footer>