<header>
    <div class="header-flex">
    <a href="/home"><img src="https://http2.mlstatic.com/D_NQ_NP_758613-MLA47047446747_082021-W.jpg" alt="" class="logo"></a>
    <i class="far fa-user-circle user"></i>
    <div class="lupa-barra">
        
        <!-- <input type="text" placeholder="Buscar..." class="buscador"> -->
        <button class="lupa"><i class="fas fa-search"></i></button>
        
    </div>
    <i class="fas fa-bars hamburguesa">
        <div class="menu-desplegable">
            <p>REMERAS</p>
            <p>BUZOS</p>
            <p>PANTALONES</p>
            <p>CAMISAS</p>
            <p>TRAJES DE BAÑO</p>
            <p>MEDIAS</p>
            <p>GORRAS</p>
            <p>CAMPERAS</p>
            <p>BERMUDAS</p>
            <p>SUDADERAS</p>
            <p>ACCESORIOS</p>
            <i class="fas fa-times"></i>
        </div>
    </i>
    <i class="fas fa-shopping-cart carrito"></i>
    </div>
    <nav>
        
        <ul class="ul-izquierdo">
            <li>REMERAS</li>
            <li>BUZOS</li>
            <li>PANTALONES</li>
            <li>CAMISAS</li>
            <li>TRAJES DE BAÑO</li>
            <li>MEDIAS</li>
            <li>GORRAS</li>
            <li>CAMPERAS</li>
            <li>BERMUDAS</li>
            <li>SUDADERAS</li>
            <li>BUSCAR</li>
            <li>CARRITO</li>
        </ul>

        <ul class="ul-derecha">
       <li><a href="#"> Crea tu cuenta</a></li>  
       <li> <a href="#">Ingresá</a> </li>  
       <li><a href="#">Mis compras</a></li>  
         
        </ul>
    </nav>
   <div class="aviso-cuotas"> <p class="seis-cuotas">6 y 12 CUOTAS SIN INTERÉS</p> </div>
</header>